.jumbotron {
  text-align: center;
  background-color: #F5D98F;
  font-family: sans-serif;
  height: 100%;
}

.sidebar {
  float: right;
  text-align: left;
  background-color: lightgreen;
  padding-right: 60px;
  padding-left: 85px;
  padding-bottom: 15px;
  height: 100%;
}

.img {
  float: right;
}

#order {
  background-color: #D1E5FF;
  height: 100%;
  padding-right: 400px;
  padding-left: 25px;
}

#show-topping {
  background-color: #D1E5FF;
  display: none;
}

#show-cost {
  display: none;
}

.size {
  display: none;
}

#results {
  background-color: #D1E5FF;
  height: 100%;
}
